@charset "utf-8";
/*
 * 파일정의 : icon.pc.css
 * 파일설명 : icon.pc css
 * 작성자 :  glim 한지혜
 * 주의사항 : 주석표기는 페이지 접근방법을 알수 있도록 표시
 * 최초작성일: 2019/07/17
 * 최종수정일: 2020/05/15
 *  20191030 nav-list.bottom 튜토리얼/사이즈 버튼 추가
 *  20200424 추천 키워드 더보기 버튼 추가
 *  20200429 nav 추가
 *  20200511 ico-delete16, ico-util06, ico-alert30, ico-question, 전체메뉴 icon 추가
 *  20200515 ico background-size 수정, 전체메뉴 아이콘 추가, 다른방법으로검색, 스크랩 추가
 */


/* 아이콘만 있을 경우 */
.wico { overflow: hidden; position: relative; display: inline-block; background-image: url(../images/pc/ui/ui_icon_weather.png); background-size:480px 80px; background-repeat: no-repeat; vertical-align: top; }
.wico.wico01 { background-position: 1px 0;}
.wico.wico02 { background-position: -80px 0;}
.wico.wico03 { background-position: -160px 0;}
.wico.wico04 { background-position: -240px 0;}
.wico.wico05 { background-position: -320px 0;}
.wico.wico06 { background-position: -400px 0;}

/**********************************************************************************
** ICON LIST TYPE
***********************************************************************************/

/* 아이콘만 있을 경우 */
.ico { overflow: hidden; position: relative; display: inline-block; background-image: url(../images/pc/common/ico_sprite_pc.png); background-size:1100px 400px; background-repeat: no-repeat; vertical-align: top; } /* 20200515 수정 */
.ico-nav04 { overflow: hidden; position: relative; display: inline-block; background-image: url(../images/pc/common/icon_01_study.png); background-size:26px 26px; background-repeat: no-repeat; vertical-align: top; }
.ico-nav05 { overflow: hidden; position: relative; display: inline-block; background-image: url(../images/pc/common/icon_02_menu.png); background-size:26px 26px; background-repeat: no-repeat; vertical-align: top; }

/*nav-icon*/
.ico.ico-nav01 {width:26px; height:26px; background-position: -250px 0;}
.ico.ico-nav02 {width:26px; height:26px; background-position: -276px 0;}
.ico.ico-nav03 {width:26px; height:26px; background-position: -302px 0;}
.ico.ico-nav06 {width:26px; height:26px; background-position: -592px 0;} /* 20200429 추가 */
.is-active a .ico.ico-nav01 {background-position: -250px -26px;}
.is-active a .ico.ico-nav02 {background-position: -276px -26px;}
.is-active a .ico.ico-nav03 {background-position: -302px -26px;}
.is-active a .ico.ico-nav04 {background-position: -208px -109px;}
.is-active a .ico.ico-nav05 {background-position: -168px -109px;}
.is-active a .ico.ico-nav06 {background-position: -592px -26px;} /* 20200429 추가 */
.is-active a:hover .ico.ico-nav01 {background-position: -250px -52px;}
.is-active a:hover .ico.ico-nav02 {background-position: -276px -52px;}
.is-active a:hover .ico.ico-nav03 {background-position: -302px -52px;}
.is-active a:hover .ico.ico-nav04 {background-position: -208px -109px;}
.is-active a:hover .ico.ico-nav05 {background-position: -168px -109px;}
.is-active a:hover .ico.ico-nav06 {background-position: -592px -52px;} /* 20200429 추가 */

.ico.ico-event-close{width: 12px; height: 12px; background-position: -628px -10px;} /* 20200429 추가 */
.ico.ico-delete16{width: 16px; height: 16px; background-position: -130px -62px;} /* 20200511 추가 */

/* < 60px *******************************************************************/
.ico.ico-submit {width:54px; height:54px; background-position: -10px -10px;}
.ico.ico-submit:hover {background-position: -70px -10px;}

.ico.ico-go-bottom  {width:44px; height:42px; background-position: -132px -10px;}
.ico.ico-go-bottom:active  {background-position: -192px -10px;}

.ico.ico-nomenu  {width:64px; height:64px; background-position: -340px -10px;}
.ico.ico-nochat  {width:64px; height:64px; background-position: -430px -10px;}
.ico.ico-nochat-dark  {width:64px; height:64px; background-position: -520px -10px;}


/* < 20px *******************************************************************/

.ico-setting {width:18px; height:18px; background-position: -10px -110px;}
.is-active .ico-setting {background-position: -30px -110px;}

.ico-tutorial {width:18px; height:18px; background-position: -110px -110px;}
a.hover .ico-tutorial {width:18px; height:18px; background-position: -130px -110px;}
.ico-size {width:18px; height:18px; background-position: -910px -80px;}
a.hover .ico-size {width:18px; height:18px; background-position: -940px -80px;}

.ico.ico-10-x {width:18px; height:18px; background-position: -50px -110px;}
.ico.ico-10-x-purple {width:18px; height:18px; background-position: -661px -26px;} /* 20200511 추가 */
.ico.ico-10-plus {width:18px; height:18px; background-position: -70px -110px;}
.ico.ico-10-check {width:18px; height:18px; background-position: -90px -110px;}


/*더보기메뉴아이콘*/
.ico.ico-util01 {width:14px; height:14px; background-position: -150px -110px;}
.ico.ico-util02 {width:14px; height:14px; background-position: -170px -110px;}
.ico.ico-util03 {width:14px; height:14px; background-position: -190px -110px;}
.ico.ico-util04 {width:14px; height:14px; background-position: -210px -110px;}
.ico.ico-util05 {width:14px; height:14px; background-position: -230px -110px;}
.ico.ico-util06 {width:14px; height:14px; background-position: -250px -94px;} /* 20200511 추가 */

.ico.ico-prev-arrow {width:11px; height:10px; background-position: -250px -110px;}
a:active .ico.ico-prev-arrow {background-position: -250px -120px;}

.ico.bico-plus {width:10px; height:10px; background-position: -270px -110px;}


.ico.ico-plus-msg {width:16px; height:16px; background-position: -290px -110px;}
a:active .ico.ico-plus-msg {width:16px; height:16px; background-position: -310px -110px;}

.ballon .ico.ico-plus-msg {width:16px; height:16px; background-position: -330px -110px;}
.ballon a:active .ico.ico-plus-msg {width:16px; height:16px; background-position: -350px -110px;}
.p-cont .ico.ico-plus-msg {width:16px; height:16px; background-position: -330px -110px;}
.p-cont a:active .ico.ico-plus-msg {width:16px; height:16px; background-position: -350px -110px;}

/*인기질문*/
.ico.ico-plus {width:16px; height:16px; background-position: -370px -110px;}
a:active .ico.ico-plus {background-position: -390px -110px;}

.ico.ico-reset {width:12px; height:12px; background-position: -410px -109px;}
a:active .ico.ico-reset {background-position: -430px -109px;}
a.disabled .ico.ico-reset,
button:disabled .ico.ico-reset{background-position: -450px -109px;}

.ico.ico-qa-reset {width:12px; height:12px; background-position: -470px -109px;}
a:active .ico.ico-qa-reset {background-position: -490px -109px;}
a.disabled .ico.ico-qa-reset,
button:disabled .ico.ico-qa-reset{background-position: -510px -109px;}

.ico.ico-alarm {width:12px; height:12px; background-position: -530px -110px;}
a:active .ico.ico-alarm {background-position: -550px -110px;}
a.disabled .ico.ico-alarm,
button:disabled .ico.ico-alarm{background-position: -570px -110px;}

/* S : 20200515 추가 */
.ico.ico-scrap-sm {width:12px; height:12px; background-position: -695px -10px;}
a:active .ico.ico-scrap-sm {background-position: -715px -10px;}
a.disabled .ico.ico-scrap-sm,
button:disabled .ico.ico-scrap-sm{background-position: -735px -10px;}
/* E : 20200515 추가 */

.ico.ico-glass {width:12px; height:12px; background-position: -250px -80px;}
a:active .ico.ico-glass {background-position: -280px -80px;}
a.disabled .ico.ico-glass,
button:disabled .ico.ico-glass{background-position: -310px -80px;}

.ico.ico-alarm-pos {width:12px; height:12px; background-position: -590px -110px;}
a:active .ico.ico-alarm-pos {background-position: -610px -110px;}
a.disabled .ico.ico-alarm-pos,
button:disabled .ico.ico-alarm-pos{background-position: -630px -110px;}

.ico.ico-alert {width:16px; height:16px; background-position: -650px -110px;}
.ico.ico-alert-red {width:16px; height:16px; background-position: -670px -110px;}
.ico.ico-alert30 {width:30px; height:30px; background-position: -628px -26px; opacity: .2;} /* 20200511 추가 */

.ico.ico-16-x {width:16px; height:16px; background-position: -690px -110px;}
a:active .ico.ico-16-x {width:16px; height:16px; background-position: -710px -110px;}

.ico.ico-document {width:12px; height:14px; background-position: -730px -110px;}

.ico.ico-alert-red12 {width:12px; height:12px; background-position: -750px -110px;}

.ico.ico-reset2 {width:12px; height:12px; background-position: -770px -110px;}
a:active .ico.ico-reset2 {background-position: -790px -110px;}
a.disabled .ico.ico-reset2,
button:disabled .ico.ico-reset2{background-position: -810px -110px;}

.ico.ico-arrow-up18 {width:18px; height:18px; background-position: -830px -110px;}
.ico.ico-arrow-down18 {width:18px; height:18px; background-position: -850px -110px;}
.is-active .ico.ico-arrow-down18 {width:18px; height:18px; background-position: -830px -110px;}

/*서류선택 paging*/
.ico.ico-prev,
.disabled a:active .ico.ico-prev {width:19px; height:19px; background-position: -870px -110px;}
a:active .ico.ico-prev {background-position: -890px -110px;}
a.disabled .ico.ico-prev,
button:disabled .ico.ico-prev {background-position: -910px -110px;}

.ico.ico-next,
.disabled a:active .ico.ico-next {width:19px; height:19px; background-position: -930px -110px;}
a:active .ico.ico-next {background-position: -950px -110px;}
a.disabled .ico.ico-next,
button:disabled .ico.ico-next {background-position: -970px -110px;}

/*S : 20200511 추가*/
.btn-search-menu .ico-mmenu-search {width: 12px; height: 12px; background-position: -153px -54px;}
.btn-search-menu:hover .ico-mmenu-search {background-position: -170px -54px;}
.btn-search-menu.disabled .ico-mmenu-search, .btn-search-menu:disabled .ico-mmenu-search {background-position: -187px -54px;}

.btn-search-menu.is-active .ico-mmenu-search {background-position: -153px -66px;}
.btn-search-menu.is-active:hover .ico-mmenu-search {background-position: -170px -66px;}
.btn-search-menu.is-active.disabled .ico-mmenu-search, .btn-search-menu.is-active:disabled .ico-mmenu-search {background-position: -187px -66px;}

.ico-question{width: 16px; height: 16px; background-position: -684px -26px;}
/*E : 20200511 추가*/

/*S : 20200515 추가*/
.ico-back-list{width: 8px; height: 14px; background-position: -666px -10px;}
.ico-edit{width: 10px; height: 10px; background-position: -678px -10px;}
.ico-arrow-purple{width: 16px; height: 16px; background-position: -645px -10px;}
.ico-search-diff{width: 16px; height: 16px; background-position: -752px -10px;}
/*E : 20200515 추가*/

/* < 30px *******************************************************************/
.ico.ico-wmenu {width:26px; height:26px; background-position: -10px -80px;}
a:active .ico.ico-wmenu {background-position: -40px -80px;}
.is-active .ico.ico-wmenu {background-position: -70px -80px;}
a:active.is-active .ico.ico-wmenu:hover {background-position: -100px -80px;}
.ico.ico-wclose {width:26px; height:26px;background-position: -130px -80px;}
a:active .ico.ico-wclose {background-position: -160px -80px;}
.ico.ico-search {width:26px; height:26px; background-position: -190px -80px;}
a:active .ico.ico-search {background-position: -220px -80px;}

/*related */
.ico-related-close { width:12px; height:12px; background-position: -340px -80px; }
a:active .ico-related-close { background-position: -370px -80px; }
/* 20200424 S: 추천키워드 더보기 버튼 추가 */
.ico-related-more { width:9px; height:7px; background-position: -964px -80px; }
.btn-rec-more.is-active .ico-related-more { background-position: -964px -92px; }
/* 20200424 E: 추천키워드 더보기 버튼 추가 */

/*서류관리 > 서류없을때아이콘*/
.ico.ico-nodata-alert  {width:28px; height:28px; background-position: -400px -80px;}

.ico.ico-more18 {width:18px; height:18px; background-position: -430px -80px;}
.is-active > .ico.ico-more18 {width:18px; height:18px; background-position: -460px -80px;}
.ico.ico-plus18 {width:18px; height:18px; background-position: -490px -80px;}
.ico.ico-minus18 {width:18px; height:18px; background-position: -520px -80px;}
.is-active .ico.ico-plus18 {width:18px; height:18px; background-position: -520px -80px;}

.ico.ico-arrow-up {width:22px; height:22px; background-position: -550px -80px;}
.btn-arrow:active .ico.ico-arrow-up {background-position: -580px -80px;}
.btn-arrow:disabled .ico.ico-arrow-up,
.btn-arrow.disabled .ico.ico-arrow-up{background-position: -610px -80px;}


.ico.ico-arrow-down {width:22px; height:22px; background-position: -640px -80px;}
.btn-arrow:active .ico.ico-arrow-down{background-position: -670px -80px;}
.btn-arrow:disabled .ico.ico-arrow-down,
.btn-arrow.disabled .ico.ico-arrow-down {background-position: -700px -80px;}


.ico.ico-arrow-left {width:22px; height:22px; background-position: -730px -80px;}
.btn-arrow:active .ico.ico-arrow-left{background-position: -760px -80px;}
.btn-arrow.swiper-button-disabled:active .ico.ico-arrow-left,
.btn-arrow.swiper-button-disabled .ico.ico-arrow-left,
.btn-arrow.disabled .ico.ico-arrow-left,
.btn-arrow:disabled .ico.ico-arrow-left{background-position: -790px -80px;}


.ico.ico-arrow-right {width:22px; height:22px; background-position: -820px -80px;}
.btn-arrow:active .ico.ico-arrow-right{background-position: -850px -80px;}
.btn-arrow.swiper-button-disabled:active .ico.ico-arrow-right,
.btn-arrow.swiper-button-disabled .ico.ico-arrow-right,
.btn-arrow.disabled .ico.ico-arrow-right,
.btn-arrow:disabled .ico.ico-arrow-right{background-position: -880px -80px;}

.btn-msg-fold .ico.ico-arrow-down {width:22px; height:22px; background-position: -640px -80px;}
.btn-msg-fold:active .ico.ico-arrow-down{background-position: -670px -80px;}
.btn-msg-fold.is-active .ico.ico-arrow-down {background-position: -550px -80px;}
.btn-msg-fold.is-active:active .ico.ico-arrow-down {background-position: -580px -80px;}


/* < 40px MENU ICON *******************************************************************/
.ico.ico-mmenu01 {width:30px; height:30px; background-position: -10px -210px;}
.ico.ico-mmenu02 {width:30px; height:30px; background-position: -50px -210px;}
.ico.ico-mmenu03 {width:30px; height:30px; background-position: -90px -210px;}
.ico.ico-mmenu04 {width:30px; height:30px; background-position: -130px -210px;}
.ico.ico-mmenu05 {width:30px; height:30px; background-position: -170px -210px;}
.ico.ico-mmenu06 {width:30px; height:30px; background-position: -210px -210px;}
.ico.ico-mmenu07 {width:30px; height:30px; background-position: -250px -210px;}
.ico.ico-mmenu08 {width:30px; height:30px; background-position: -290px -210px;}
.ico.ico-mmenu09 {width:30px; height:30px; background-position: -330px -210px;}
.ico.ico-mmenu10 {width:30px; height:30px; background-position: -370px -210px;}
.ico.ico-mmenu11 {width:30px; height:30px; background-position: -410px -210px;}
.ico.ico-mmenu12 {width:30px; height:30px; background-position: -450px -210px;}
.ico.ico-mmenu13 {width:30px; height:30px; background-position: -530px -210px;}
.ico.ico-mmenu14 {width:30px; height:30px; background-position: -570px -210px;}
.ico.ico-mmenu15 {width:30px; height:30px; background-position: -610px -210px;}
.ico.ico-mmenu16 {width:30px; height:30px; background-position: -650px -210px;}
.ico.ico-mmenu17 {width:30px; height:30px; background-position: -690px -210px;}
.ico.ico-mmenu18 {width:30px; height:30px; background-position: -730px -210px;}
.ico.ico-mmenu19 {width:30px; height:30px; background-position: -770px -210px;}
.ico.ico-mmenu20 {width:30px; height:30px; background-position: -810px -210px;}
.ico.ico-mmenu21 {width:30px; height:30px; background-position: -850px -210px;}
.ico.ico-mmenu22 {width:30px; height:30px; background-position: -890px -210px;}
.ico.ico-mmenu23 {width:30px; height:30px; background-position: -930px -210px;}
.ico.ico-mmenu24 {width:30px; height:30px; background-position: -10px -330px;}
.ico.ico-mmenu25 {width:30px; height:30px; background-position: -50px -330px;}
.ico.ico-mmenu26 {width:30px; height:30px; background-position: -90px -330px;}
.ico.ico-mmenu27 {width:30px; height:30px; background-position: -130px -330px;}
.ico.ico-mmenu28 {width:30px; height:30px; background-position: -170px -330px;}
.ico.ico-mmenu29 {width:30px; height:30px; background-position: -210px -330px;}
.ico.ico-mmenu30 {width:30px; height:30px; background-position: -290px -330px;}
.ico.ico-mmenu31 {width:30px; height:30px; background-position: -290px -330px;}
.ico.ico-mmenu32 {width:30px; height:30px; background-position: -330px -330px;}
/*메뉴 아이콘 */
/* S : 20200515 수정, 추가 */
.ico.ico-mmenu33 {width:30px; height:30px; background-position: -370px -330px;}
.ico.ico-mmenu34 {width:30px; height:30px; background-position: -410px -330px;}
.ico.ico-mmenu35 {width:30px; height:30px; background-position: -450px -330px;}
.ico.ico-mmenu36 {width:30px; height:30px; background-position: -490px -330px;}
.ico.ico-mmenu37 {width:30px; height:30px; background-position: -530px -330px;}
.ico.ico-mmenu38 {width:30px; height:30px; background-position: -570px -330px;}
.ico.ico-mmenu39 {width:30px; height:30px; background-position: -610px -330px;}
.ico.ico-mmenu40 {width:30px; height:30px; background-position: -650px -330px;}
.ico.ico-mmenu41 {width:30px; height:30px; background-position: -690px -330px;}
.ico.ico-mmenu42 {width:30px; height:30px; background-position: -730px -330px;}
.ico.ico-mmenu43 {width:30px; height:30px; background-position: -770px -330px;}
.ico.ico-mmenu44 {width:30px; height:30px; background-position: -810px -330px;}
.ico.ico-mmenu45 {width:30px; height:30px; background-position: -850px -330px;}
.ico.ico-mmenu46 {width:30px; height:30px; background-position: -890px -330px;}
.ico.ico-mmenu47 {width:30px; height:30px; background-position: -930px -330px;}
.ico.ico-mmenu48 {width:30px; height:30px; background-position: -970px -330px;}
.ico.ico-mmenu49 {width:30px; height:30px; background-position: -1010px -330px;}
/* E : 20200515 수정, 추가 */

.hover .link:hover .ico.ico-mmenu01 {background-position: -10px -130px;}
.hover .link:hover .ico.ico-mmenu02 {background-position: -50px -130px;}
.hover .link:hover .ico.ico-mmenu03 {background-position: -90px -130px;}
.hover .link:hover .ico.ico-mmenu04 {background-position: -130px -130px;}
.hover .link:hover .ico.ico-mmenu05 {background-position: -170px -130px;}
.hover .link:hover .ico.ico-mmenu06 {background-position: -210px -130px;}
.hover .link:hover .ico.ico-mmenu07 {background-position: -250px -130px;}
.hover .link:hover .ico.ico-mmenu08 {background-position: -290px -130px;}
.hover .link:hover .ico.ico-mmenu09 {background-position: -330px -130px;}
.hover .link:hover .ico.ico-mmenu10 {background-position: -370px -130px;}
.hover .link:hover .ico.ico-mmenu11 {background-position: -410px -130px;}
.hover .link:hover .ico.ico-mmenu12 {background-position: -450px -130px;}
.hover .link:hover .ico.ico-mmenu13 {background-position: -530px -130px;}
.hover .link:hover .ico.ico-mmenu14 {background-position: -570px -130px;}
.hover .link:hover .ico.ico-mmenu15 {background-position: -610px -130px;}
.hover .link:hover .ico.ico-mmenu16 {background-position: -650px -130px;}
.hover .link:hover .ico.ico-mmenu17 {background-position: -690px -130px;}
.hover .link:hover .ico.ico-mmenu18 {background-position: -730px -130px;}
.hover .link:hover .ico.ico-mmenu19 {background-position: -770px -130px;}
.hover .link:hover .ico.ico-mmenu20 {background-position: -810px -130px;}
.hover .link:hover .ico.ico-mmenu21 {background-position: -850px -130px;}
.hover .link:hover .ico.ico-mmenu22 {background-position: -890px -130px;}
.hover .link:hover .ico.ico-mmenu23 {background-position: -930px -130px;}
.hover .link:hover .ico.ico-mmenu24 {background-position: -10px -250px;}
.hover .link:hover .ico.ico-mmenu25 {background-position: -50px -250px;}
.hover .link:hover .ico.ico-mmenu26 {background-position: -90px -250px;}
.hover .link:hover .ico.ico-mmenu27 {background-position: -130px -250px;}
.hover .link:hover .ico.ico-mmenu28 {background-position: -170px -250px;}
.hover .link:hover .ico.ico-mmenu29 {background-position: -210px -250px;}
.hover .link:hover .ico.ico-mmenu30 {background-position: -290px -250px;}
.hover .link:hover .ico.ico-mmenu31 {background-position: -290px -250px;}
.hover .link:hover .ico.ico-mmenu32 {background-position: -330px -250px;}

/* S : 20200515 수정, 추가 */
.hover .link:hover .ico.ico-mmenu33 {background-position: -370px -250px;}
.hover .link:hover .ico.ico-mmenu34 {background-position: -410px -250px;}
.hover .link:hover .ico.ico-mmenu35 {background-position: -450px -250px;}
.hover .link:hover .ico.ico-mmenu36 {background-position: -490px -250px;}
.hover .link:hover .ico.ico-mmenu37 {background-position: -530px -250px;}
.hover .link:hover .ico.ico-mmenu38 {background-position: -570px -250px;}
.hover .link:hover .ico.ico-mmenu39 {background-position: -610px -250px;}
.hover .link:hover .ico.ico-mmenu40 {background-position: -650px -250px;}
.hover .link:hover .ico.ico-mmenu41 {background-position: -690px -250px;}
.hover .link:hover .ico.ico-mmenu42 {background-position: -730px -250px;}
.hover .link:hover .ico.ico-mmenu43 {background-position: -770px -250px;}
.hover .link:hover .ico.ico-mmenu44 {background-position: -810px -250px;}
.hover .link:hover .ico.ico-mmenu45 {background-position: -850px -250px;}
.hover .link:hover .ico.ico-mmenu46 {background-position: -890px -250px;}
.hover .link:hover .ico.ico-mmenu47 {background-position: -930px -250px;}
.hover .link:hover .ico.ico-mmenu48 {background-position: -970px -250px;}
.hover .link:hover .ico.ico-mmenu49 {background-position: -1010px -250px;}
/* E : 20200515 수정, 추가 */

.is-selected .ico.ico-mmenu01 {background-position: -10px -130px;}
.is-selected .ico.ico-mmenu02 {background-position: -50px -130px;}
.is-selected .ico.ico-mmenu03 {background-position: -90px -130px;}
.is-selected .ico.ico-mmenu04 {background-position: -130px -130px;}
.is-selected .ico.ico-mmenu05 {background-position: -170px -130px;}
.is-selected .ico.ico-mmenu06 {background-position: -210px -130px;}
.is-selected .ico.ico-mmenu07 {background-position: -250px -130px;}
.is-selected .ico.ico-mmenu08 {background-position: -290px -130px;}
.is-selected .ico.ico-mmenu09 {background-position: -330px -130px;}
.is-selected .ico.ico-mmenu10 {background-position: -370px -130px;}
.is-selected .ico.ico-mmenu11 {background-position: -410px -130px;}
.is-selected .ico.ico-mmenu12 {background-position: -450px -130px;}
.is-selected .ico.ico-mmenu13 {background-position: -530px -130px;}
.is-selected .ico.ico-mmenu14 {background-position: -570px -130px;}
.is-selected .ico.ico-mmenu15 {background-position: -610px -130px;}
.is-selected .ico.ico-mmenu16 {background-position: -650px -130px;}
.is-selected .ico.ico-mmenu17 {background-position: -690px -130px;}
.is-selected .ico.ico-mmenu18 {background-position: -730px -130px;}
.is-selected .ico.ico-mmenu19 {background-position: -770px -130px;}
.is-selected .ico.ico-mmenu20 {background-position: -810px -130px;}
.is-selected .ico.ico-mmenu21 {background-position: -850px -130px;}
.is-selected .ico.ico-mmenu22 {background-position: -890px -130px;}
.is-selected .ico.ico-mmenu23 {background-position: -930px -130px;}
.is-selected .ico.ico-mmenu24 {background-position: -10px -250px;}
.is-selected .ico.ico-mmenu25 {background-position: -50px -250px;}
.is-selected .ico.ico-mmenu26 {background-position: -90px -250px;}
.is-selected .ico.ico-mmenu27 {background-position: -130px -250px;}
.is-selected .ico.ico-mmenu28 {background-position: -170px -250px;}
.is-selected .ico.ico-mmenu29 {background-position: -210px -250px;}
.is-selected .ico.ico-mmenu30 {background-position: -290px -250px;}
.is-selected .ico.ico-mmenu31 {background-position: -290px -250px;}
.is-selected .ico.ico-mmenu32 {background-position: -330px -250px;}

/* S : 20200515 수정, 추가 */
.is-selected  .ico.ico-mmenu33 {background-position: -370px -250px;}
.is-selected  .ico.ico-mmenu34 {background-position: -410px -250px;}
.is-selected  .ico.ico-mmenu35 {background-position: -450px -250px;}
.is-selected  .ico.ico-mmenu36 {background-position: -490px -250px;}
.is-selected  .ico.ico-mmenu37 {background-position: -530px -250px;}
.is-selected  .ico.ico-mmenu38 {background-position: -570px -250px;}
.is-selected  .ico.ico-mmenu39 {background-position: -610px -250px;}
.is-selected  .ico.ico-mmenu40 {background-position: -650px -250px;}
.is-selected  .ico.ico-mmenu41 {background-position: -690px -250px;}
.is-selected  .ico.ico-mmenu42 {background-position: -730px -250px;}
.is-selected  .ico.ico-mmenu43 {background-position: -770px -250px;}
.is-selected  .ico.ico-mmenu44 {background-position: -810px -250px;}
.is-selected  .ico.ico-mmenu45 {background-position: -850px -250px;}
.is-selected  .ico.ico-mmenu46 {background-position: -890px -250px;}
.is-selected  .ico.ico-mmenu47 {background-position: -930px -250px;}
.is-selected  .ico.ico-mmenu48 {background-position: -970px -250px;}
.is-selected  .ico.ico-mmenu49 {background-position: -1010px -250px;}
/* E : 20200515 수정, 추가 */

.tab-welcome-menu .ico.ico-mmenu01 {background-position: -10px -130px;}
.tab-welcome-menu .ico.ico-mmenu02 {background-position: -50px -130px;}
.tab-welcome-menu .ico.ico-mmenu03 {background-position: -90px -130px;}
.tab-welcome-menu .ico.ico-mmenu04 {background-position: -130px -130px;}
.tab-welcome-menu .ico.ico-mmenu05 {background-position: -170px -130px;}
.tab-welcome-menu .ico.ico-mmenu06 {background-position: -210px -130px;}
.tab-welcome-menu .ico.ico-mmenu07 {background-position: -250px -130px;}
.tab-welcome-menu .ico.ico-mmenu08 {background-position: -290px -130px;}
.tab-welcome-menu .ico.ico-mmenu09 {background-position: -330px -130px;}
.tab-welcome-menu .ico.ico-mmenu10 {background-position: -370px -130px;}
.tab-welcome-menu .ico.ico-mmenu11 {background-position: -410px -130px;}
.tab-welcome-menu .ico.ico-mmenu12 {background-position: -450px -130px;}
.tab-welcome-menu .ico.ico-mmenu13 {background-position: -530px -130px;}
.tab-welcome-menu .ico.ico-mmenu14 {background-position: -570px -130px;}
.tab-welcome-menu .ico.ico-mmenu15 {background-position: -610px -130px;}
.tab-welcome-menu .ico.ico-mmenu16 {background-position: -650px -130px;}
.tab-welcome-menu .ico.ico-mmenu17 {background-position: -690px -130px;}
.tab-welcome-menu .ico.ico-mmenu18 {background-position: -730px -130px;}
.tab-welcome-menu .ico.ico-mmenu19 {background-position: -770px -130px;}
.tab-welcome-menu .ico.ico-mmenu20 {background-position: -810px -130px;}
.tab-welcome-menu .ico.ico-mmenu21 {background-position: -850px -130px;}
.tab-welcome-menu .ico.ico-mmenu22 {background-position: -890px -130px;}
.tab-welcome-menu .ico.ico-mmenu23 {background-position: -930px -130px;}
.tab-welcome-menu .ico.ico-mmenu24 {background-position: -10px -250px;}
.tab-welcome-menu .ico.ico-mmenu25 {background-position: -50px -250px;}
.tab-welcome-menu .ico.ico-mmenu26 {background-position: -90px -250px;}
.tab-welcome-menu .ico.ico-mmenu27 {background-position: -130px -250px;}
.tab-welcome-menu .ico.ico-mmenu28 {background-position: -170px -250px;}
.tab-welcome-menu .ico.ico-mmenu29 {background-position: -210px -250px;}
.tab-welcome-menu .ico.ico-mmenu30 {background-position: -290px -250px;}
.tab-welcome-menu .ico.ico-mmenu31 {background-position: -290px -250px;}
.tab-welcome-menu .ico.ico-mmenu32 {background-position: -330px -250px;}

/* S : 20200515 수정, 추가 */
.tab-welcome-menu .ico.ico-mmenu33 {background-position: -370px -250px;}
.tab-welcome-menu .ico.ico-mmenu34 {background-position: -410px -250px;}
.tab-welcome-menu .ico.ico-mmenu35 {background-position: -450px -250px;}
.tab-welcome-menu .ico.ico-mmenu36 {background-position: -490px -250px;}
.tab-welcome-menu .ico.ico-mmenu37 {background-position: -530px -250px;}
.tab-welcome-menu .ico.ico-mmenu38 {background-position: -570px -250px;}
.tab-welcome-menu .ico.ico-mmenu39 {background-position: -610px -250px;}
.tab-welcome-menu .ico.ico-mmenu40 {background-position: -650px -250px;}
.tab-welcome-menu .ico.ico-mmenu41 {background-position: -690px -250px;}
.tab-welcome-menu .ico.ico-mmenu42 {background-position: -730px -250px;}
.tab-welcome-menu .ico.ico-mmenu43 {background-position: -770px -250px;}
.tab-welcome-menu .ico.ico-mmenu44 {background-position: -810px -250px;}
.tab-welcome-menu .ico.ico-mmenu45 {background-position: -850px -250px;}
.tab-welcome-menu .ico.ico-mmenu46 {background-position: -890px -250px;}
.tab-welcome-menu .ico.ico-mmenu47 {background-position: -930px -250px;}
.tab-welcome-menu .ico.ico-mmenu48 {background-position: -970px -250px;}
.tab-welcome-menu .ico.ico-mmenu49 {background-position: -1010px -250px;}
/* E : 20200515 수정, 추가 */
.tab-welcome-menu .ico.ico-plus30 {background-position: -490px -130px;opacity: 1; -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity= 100); /* // for IE8 */ filter: alpha(opacity= 100); /* //for IE5-7 */ }

.tab-welcome-menu .hover .link:hover .ico.ico-mmenu01 {background-position: -10px -170px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu02 {background-position: -50px -170px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu03 {background-position: -90px -170px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu04 {background-position: -130px -170px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu05 {background-position: -170px -170px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu06 {background-position: -210px -170px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu07 {background-position: -250px -170px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu08 {background-position: -290px -170px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu09 {background-position: -330px -170px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu10 {background-position: -370px -170px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu11 {background-position: -410px -170px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu12 {background-position: -450px -170px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu13 {background-position: -530px -170px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu14 {background-position: -570px -170px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu15 {background-position: -610px -170px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu16 {background-position: -650px -170px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu17 {background-position: -690px -170px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu18 {background-position: -730px -170px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu19 {background-position: -770px -170px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu20 {background-position: -810px -170px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu21 {background-position: -850px -170px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu22 {background-position: -890px -170px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu23 {background-position: -930px -170px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu24 {background-position: -10px -290px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu25 {background-position: -50px -290px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu26 {background-position: -90px -290px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu27 {background-position: -130px -290px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu28 {background-position: -170px -290px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu29 {background-position: -210px -290px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu30 {background-position: -290px -290px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu31 {background-position: -290px -290px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu32 {background-position: -330px -290px;}

/* S : 20200515 수정, 추가 */
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu33 {background-position: -370px -290px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu34 {background-position: -410px -290px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu35 {background-position: -450px -290px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu36 {background-position: -490px -290px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu37 {background-position: -530px -290px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu38 {background-position: -570px -290px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu39 {background-position: -610px -290px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu40 {background-position: -650px -290px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu41 {background-position: -690px -290px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu42 {background-position: -730px -290px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu43 {background-position: -770px -290px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu44 {background-position: -810px -290px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu45 {background-position: -850px -290px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu46 {background-position: -890px -290px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu47 {background-position: -930px -290px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu48 {background-position: -970px -290px;}
.tab-welcome-menu .hover .link:hover .ico.ico-mmenu49 {background-position: -1010px -290px;}
/* E : 20200515 수정, 추가 */
.tab-welcome-menu .hover .link:hover .ico.ico-plus30 {background-position: -490px -170px;}


/*더보기*/
.ico.ico-plus30 {width:30px; height:30px; background-position: -490px -210px; opacity: 0.2; -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity= 20); /* // for IE8 */ filter: alpha(opacity= 20); /* //for IE5-7 */ }
a:hover .ico.ico-plus30 {background-position: -490px -130px; opacity: 1; -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity= 100); /* // for IE8 */ filter: alpha(opacity= 100); /* //for IE5-7 */ }


/*아이콘버튼*/
/* S : 20200511 수정 */
.btn-bic-pos .ico, .btn-mmenu .ico {width:18px; height:18px; margin-top:2px; margin-right:5px; background-position: 100px 100px;}

.ico.ico-btn01 {background-position: -10px -370px;}
.ico.ico-btn02 {background-position: -30px -370px;}
.ico.ico-btn03 {background-position: -50px -370px;}
.ico.ico-btn04 {background-position: -70px -370px;}
.ico.ico-btn05 {background-position: -90px -370px;}
.ico.ico-btn06 {background-position: -110px -370px;}
.ico.ico-btn07 {background-position: -130px -370px;}
.ico.ico-btn08 {background-position: -150px -370px;}
.ico.ico-btn09 {background-position: -170px -370px;}
.ico.ico-btn10 {background-position: -190px -370px;}
.ico.ico-btn11 {background-position: -210px -370px;}
.ico.ico-btn12 {background-position: -230px -370px;}
.ico.ico-btn13 {background-position: -250px -370px;}
.ico.ico-btn14 {background-position: -270px -370px;}
.ico.ico-btn15 {background-position: -290px -370px;}
.ico.ico-btn16 {background-position: -310px -370px;}
.ico.ico-btn17 {background-position: -330px -370px;}
.ico.ico-btn18 {background-position: -350px -370px;}
.ico.ico-btn19 {background-position: -370px -370px;}
.ico.ico-btn20 {background-position: -390px -370px;}
.ico.ico-btn21 {background-position: -410px -370px;}
.ico.ico-btn22 {background-position: -430px -370px;}
.ico.ico-btn23 {background-position: -450px -370px;}
.ico.ico-btn24 {background-position: -470px -370px;}
.ico.ico-btn25 {background-position: -490px -370px;}
.ico.ico-btn26 {background-position: -510px -370px;}
.ico.ico-btn27 {background-position: -530px -370px;}
.ico.ico-btn28 {background-position: -550px -370px;}
.ico.ico-btn29 {background-position: -570px -370px;}
.ico.ico-btn30 {background-position: -590px -370px;}
.ico.ico-btn31 {background-position: -610px -370px;}
.ico.ico-btn32 {background-position: -630px -370px;}

/* S : 20200515 수정 */
.ico.ico-btn33 {background-position: -650px -370px;}
.ico.ico-btn34 {background-position: -670px -370px;}
.ico.ico-btn35 {background-position: -690px -370px;}
.ico.ico-btn36 {background-position: -710px -370px;}
.ico.ico-btn37 {background-position: -730px -370px;}
.ico.ico-btn38 {background-position: -750px -370px;}
.ico.ico-btn39 {background-position: -770px -370px;}
.ico.ico-btn40 {background-position: -790px -370px;}
.ico.ico-btn41 {background-position: -810px -370px;}
.ico.ico-btn42 {background-position: -830px -370px;}
.ico.ico-btn43 {background-position: -850px -370px;}
.ico.ico-btn44 {background-position: -870px -370px;}
.ico.ico-btn45 {background-position: -890px -370px;}
.ico.ico-btn46 {background-position: -910px -370px;}
.ico.ico-btn47 {background-position: -930px -370px;}
.ico.ico-btn48 {background-position: -950px -370px;}
.ico.ico-btn49 {background-position: -970px -370px;}
/* E : 20200515 수정 */
/* E : 20200511 수정 */